version: "3.9"

networks:
  microservices-net:

services:

  # -------------------- INFRA --------------------

  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    networks:
      - microservices-net

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - microservices-net

  # -------------------- CORE --------------------

  config-server:
    build: ./config-server
    container_name: config-server
    ports:
      - "8888:8888"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - microservices-net

  eureka-server:
    build: ./eureka-server
    container_name: eureka-server
    ports:
      - "8761:8761"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - config-server
    networks:
      - microservices-net

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "9999:9999"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - eureka-server
    networks:
      - microservices-net

  # -------------------- BUSINESS SERVICES --------------------

  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "9000:9000"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - mongo
      - eureka-server
    networks:
      - microservices-net

  consumer-service:
    build: ./consumer-service
    container_name: consumer-service
    ports:
      - "8081:8081"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - mongo
      - rabbitmq
      - eureka-server
    networks:
      - microservices-net

  utility-service:
    build: ./utility-service
    container_name: utility-service
    ports:
      - "8083:8083"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - mongo
      - eureka-server
    networks:
      - microservices-net

  meter-service:
    build: ./meter-service
    container_name: meter-service
    ports:
      - "8085:8085"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - mongo
      - rabbitmq
      - eureka-server
    networks:
      - microservices-net

  billing-service:
    build: ./billing-service
    container_name: billing-service
    ports:
      - "8086:8086"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - mongo
      - rabbitmq
      - eureka-server
    networks:
      - microservices-net

  payment-service:
    build: ./payment-service
    container_name: payment-service
    ports:
      - "8087:8087"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - mongo
      - eureka-server
    networks:
      - microservices-net

  notification-service:
    build: ./notification-service
    container_name: notification-service
    ports:
      - "8088:8087"   
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - mongo
      - rabbitmq
      - eureka-server
    networks:
      - microservices-net
