/* .navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 64px;
  padding: 0 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  z-index: 100;
} */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.0);  
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  height: 64px;
  padding: 0 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  box-sizing: border-box;
}


/* Brand */
.logo {
  font-size: 18px;
  font-weight: 700;
  color: white;
  letter-spacing: 0.3px;
}

/* Right side */
.actions {
  display: flex;
  align-items: center;
  gap: 14px;
}

/* Buttons */
.outline-btn {
  padding: 6px 14px;
  font-size: 14px;
  font-weight: 500;

  background: transparent;
  color: white;
  border: 1px solid #d1d5db;
  border-radius: 6px;

  cursor: pointer;
  transition: all 0.2s ease;
  text-decoration: none;
}

.outline-btn:hover {
  background-color: #f3f4f6;
  color: black;
}
