
.auth-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;

  display: flex;
  align-items: center;
  padding: 0 40px;

  background: linear-gradient(135deg, #14532d, #155e75);
  z-index: 1000;
}

.auth-navbar .logo {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.4px;
}

.login-page {
  min-height: 100vh;
  padding-top: 64px; /* navbar height */

  display: flex;
  align-items: center;
  justify-content: center;

  background: #f3f4f6;
}


.login-card {
  width: 360px;
  background: #ffffff;
  padding: 36px 32px;
  padding-right:55px;
  border-radius: 14px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);

  animation: fadeUp 0.4s ease;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-card h2 {
  text-align: center;
  margin-bottom: 6px;
  font-size: 22px;
}

.subtitle {
  text-align: center;
  color: #6b7280;
  margin-bottom: 28px;
  font-size: 14px;
}


.form-group {
  margin-bottom: 18px;
}

label {
  display: block;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 6px;
  color: #374151;
}

input {
  width: 100%;
  padding: 11px 12px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #155e75;
  box-shadow: 0 0 0 3px rgba(21, 94, 117, 0.15);
}

.login-btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;

  background: linear-gradient(135deg, #14532d, #155e75);
  color: #ffffff;

  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;

  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.login-btn:hover:not(:disabled) {
  transform: translateY(-1px);
  box-shadow: 0 8px 20px rgba(21, 94, 117, 0.35);
}

.login-btn:disabled {
  background: #9ca3af;
  cursor: not-allowed;
}
.forgot-password {
  margin-top: 12px;
  text-align: center;
  font-size: 14px;
  color: #1e88e5;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}

.logo{
  cursor: pointer;
}

.logo:hover {
  opacity: 0.8;
}
