<div class="tariff-container">

  <h2>Tariff Management</h2>
  <p class="subtitle">Manage utility tariffs and rates</p>

  <!-- CREATE CARD -->
  <div class="card">
    <h3>Create New Tariff</h3>

    <div class="grid">
      <input placeholder="Utility ID" [(ngModel)]="tariffForm.utilityId">
      <input placeholder="Tariff Name" [(ngModel)]="tariffForm.name">
      <input type="number" placeholder="Rate / Unit" [(ngModel)]="tariffForm.ratePerUnit">
      <input type="date" [(ngModel)]="tariffForm.effectiveFrom">
    </div>

    <button class="primary-btn" (click)="createTariff()">Add Tariff</button>
  </div>

  <!-- TABLE -->
  <div class="card" *ngIf="tariffs.length > 0">
    <h3>Existing Tariffs</h3>

    <table>
      <thead>
  <tr>
    <th>Name</th>
    <th>Utility</th>
    <th>Rate</th>
    <th>Effective From</th>
    <th>Actions</th>
  </tr>
</thead>

      <tbody>
        <tr *ngFor="let tariff of tariffs">
          <td>{{ tariff.name }}</td>
          <td>{{ tariff.utilityId }}</td>
          <td>{{ tariff.ratePerUnit }}</td>
          <td>
  {{ tariff.effectiveFrom ? (tariff.effectiveFrom | date:'dd MMM yyyy') : '—' }}
</td>


          <td class="action-cell">
  <button class="edit-btn" (click)="startEdit(tariff)">
    Edit
  </button>

  <button
    class="delete-btn"
    (click)="deleteTariff(tariff.id)"
  >
    Delete
  </button>
</td>

        </tr>
      </tbody>
    </table>
  </div>

  <!-- EDIT MODAL -->
  <div class="modal" *ngIf="editingTariff">
    <div class="modal-card">
      <h3>Update Tariff</h3>

      <input [(ngModel)]="editingTariff.name">
      <input type="number" [(ngModel)]="editingTariff.ratePerUnit">
      <input type="date" [(ngModel)]="editingTariff.effectiveFrom">

      <div class="modal-actions">
        <button class="secondary-btn" (click)="cancelEdit()">Cancel</button>
        <button class="primary-btn" (click)="updateTariff()">Update</button>
      </div>
    </div>
  </div>

</div>
