/* PAGE */
.payment-page {
  min-height: 100vh;
  padding: 40px 16px;
  /* background: linear-gradient(135deg, #0f3a36, #134c47); */
  color: #ffffff;
}

/* HEADER */
.page-header {
  text-align: center;
  max-width: 700px;
  margin: auto;
  margin-bottom: 40px;
}



.page-header h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: black;
}

.page-header p {
  color: black;
}

/* CARD */
.payment-card {
  max-width: 1000px;
  margin: auto;
  background: #ffffff;
  color: #111827;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(0,0,0,0.12);

}

/* GRID */
.card-grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

/* LEFT */
.left {
  padding: 46px;
}

.field {
  margin-bottom: 20px;
}

.field label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  color: #374151;
}

.field input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  font-size: 15px;
}

.amount-box {
  position: relative;
}

.amount-box span {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #6b7280;
}

.amount-box input {
  padding-left: 28px;
}

/* BUTTONS */
.primary-btn {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: #0f3a36;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.primary-btn:disabled {
  background: #94a3b8;
  cursor: not-allowed;
}

.success-btn {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: #0f3a36;
  color: white;
  font-size: 16px;
  margin-top: 12px;
  cursor: pointer;
}

/* OTP */
.otp-section {
  margin-top: 24px;
}

.otp-section input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  margin-top: 6px;
}

/* LOGOS */
.logos {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  color: #6b7280;
}

/* RIGHT */
.right {
  padding: 36px;
  background: linear-gradient(135deg, #0f3a36, #134c47);
  color: #ffffff;
}

.right h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.right p {
  font-size: 14px;
  color: rgba(255,255,255,0.8);
  margin-bottom: 20px;
}

.right ul {
  list-style: none;
  padding: 0;
}

.right li {
  margin-bottom: 10px;
  font-size: 14px;
}

/* TRUST */
.trust {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 40px;
  font-size: 14px;
  color: rgba(255,255,255,0.8);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .card-grid {
    grid-template-columns: 1fr;
  }

  .right {
    text-align: center;
  }
}
