<div class="bills-page">

  <header class="page-header">
    <h1>Bills & Payments</h1>
    <p class="subtitle">Manage and pay your utility bills securely</p>
  </header>

  <div *ngIf="loading" class="state">Loading your bills...</div>

  <div *ngIf="!loading && bills.length === 0" class="state empty">
    No bills available
  </div>

  <div class="bill-grid" *ngIf="!loading && bills.length">

    <div class="bill-card" *ngFor="let bill of bills">

      <div class="bill-top">
        <h3>{{ bill.utilityName }}</h3>

        <span class="status" [ngClass]="bill.status.toLowerCase()">
          {{ bill.status }}
        </span>
      </div>

      <div class="bill-details">
        <div>
          <span>Billing Cycle: </span>
          <strong>{{ bill.billingCycle | date:'MMM yyyy' }}</strong>
        </div>

        <div>
          <span>Units: </span>
          <strong>{{ bill.unitsConsumed }}</strong>
        </div>

        <div class="amount">
          ₹ {{ bill.amount }}
        </div>
      </div>

      <button
        class="pay-btn"
        *ngIf="bill.status !== 'PAID'"
        (click)="makePayment(bill)">
        Pay Now
      </button>

      <div class="paid" *ngIf="bill.status === 'PAID'">
        ✔ Payment Completed
      </div>

    </div>

  </div>
</div>
